@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap');

* {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.thumnail_image {
    background-image: linear-gradient(
        90deg,
        rgba(15, 15, 15, 0.8),
        rgba(10, 10, 10, 0.8)
    ),
    url(https://media.discordapp.net/attachments/795624578105081877/1112409705579561060/NongThammain.jpg?ex=6612c2c5&is=66004dc5&hm=70af6ea53eddb9b337004d550ac372807468114eb8f15edf54d978f6c1572d63&=&format=webp&width=1202&height=676);
}

.bg {
    background-color: #121212;
}

.bg-box {
    background-color: #202020;
}

.click:hover {
    color: chocolate;
}
